# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
.env

# Django
*.log
*.pot
*.pyc
# db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environment Variables
.env
.env.local
*.env

# Database
*.sqlite3

# Local development
local_settings.py